/* COMMONS */
*{
    font-family: 'Roboto Mono', monospace;
}

#jq-trigger{
    width: 10px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0);
}

.ms_mtop{
    margin-top: 15vh;
}

.ms_mini_mtop{
    margin-top: 5vh;
}

.ms_medium_mtop{
    margin-top: 10vh;
}

.ms_mbot{
    margin-bottom: 15vh;
}

.ms_mini_mbot{
    margin-bottom: 5vh;
}

.ms_fs_7{
    font-size: 0.90rem;
}

.ms_fs_8{
    font-size: 0.80rem;
}

.ms_hidden{
    color:black;
}

.ms_video_shadow_top{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
}

.ms_video_shadow_bot{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40), rgb(0, 0, 0));
    position: absolute;
    bottom: 0%;
}

.ms_video_box{
    position: relative;
    z-index: -1;
}

img{
    width: 100%;
    object-fit: cover;
}

.ms_icon_box img{
    min-height: 50px;
    max-height: 50px;
    object-fit: contain;
}

video{
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* SCROLLBAR PERSONALIZATION (Only on Chrome, Edge, Safari, Opera) */
/* total width */
/* body::-webkit-scrollbar {
    background-color: #fff;
    max-width: 10px;
} */

/* background of the scrollbar except button or resizer */
/* body::-webkit-scrollbar-track {
    background-color: #fff;
} */

/* scrollbar itself */
/* body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
} */

/* set button(top and bottom of the scrollbar) */
/* body::-webkit-scrollbar-button {
    display:none;
} */
/* /SCROLLBAR */

/* /COMMONS */

/* COLORI */
.ms_red{
    color: rgb(223, 64, 64);
}

.ms_lilla{
    color: rgb(200, 163, 235);
}
/* /COLORI */



/* LANDING PAGE */
#landing-page{
    height: 100vh;
    position: relative;
}

#landing-page .ms_video_box{
    z-index: 0;
    height: 100%;
    position: relative;
}

#video-showreel {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

#landing-page .ms_text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    text-align: center;
}

#landing-page h1, #landing-page h3{
    z-index: 999;
    text-shadow: 2px 2px 8px #000000;
}

#link-showreel{
    position: absolute;
    bottom: 3%;
    right: 2%;
}

#landing-page #link-showreel i{
    transform: scale(2);
}

#landing-page #scroll-down{
    position: absolute;
    font-size: 14.5px;
    bottom: 1%;
    left: 50%;
    transform: translatex(-50%);
    animation: "dongle" 1s infinite ;
}

@keyframes dongle {
    50% {bottom: 0%}
}

#landing-page a{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

#landing-page a:hover{
    opacity: .4;
}

#landing-page a:visited{
    color: rgba(255, 255, 255, 0.4);
}
/* /LANDING PAGE */



/* HEADER FIXED*/
#header{
    height: 100px;
}

#header .fixed{
    position: fixed;
    /* padding: 2em; */
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
}

#header button{
    /* DA FIXARE: ALTERNATIVA ALLA JQUERY */
    /* position: -webkit-sticky;
    position: sticky; */
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;    
    background-color: rgba(200, 163, 235, .4);
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.9);
    padding: 0px 20px 6px 20px;
    z-index: 999;
}

#header button:hover{
    opacity: .7;
}

#header .dropdown-toggle::after{
    content: none;
}
/* /HEADER */



/* MAIN */
/* WORK 1: METRO */
#metro .ms_backstage_img img{
    border-radius: 8px;
    height: 300px;
}
/* /WORK 1: METRO */

/* WORK 2: ROLLEI */
/* /WORK 2: ROLLEI */

/* WORK 3: HOMELESS */
/* /WORK 3: HOMELESS */

/* WORK 4: MEPHALA */
/* /WORK 4: MEPHALA */

/* WORK 5: BYEBYE */
#byebye a{
    color: rgb(200, 163, 235);
    text-decoration: none;
}

#byebye a:hover{
    opacity: .9;
}

#byebye a:visited{
    color: rgb(200, 163, 235);
}
/* /WORK 5: BYEBYE */

/* WORK IN PROGRESS 1: WILLIAM */
/* /WORK IN PROGRESS 1: WILLIAM */

/* ABOUT ME */
#about-me button{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;    
    background-color: rgba(0, 0, 0, 0.329);
    border: 3px solid rgba(200, 163, 235, 0.9);
    border-radius: 7px;
    color: rgba(200, 163, 235, 0.9);
    padding: 0px 20px 3px 20px;
    z-index: 999;
}

#about-me button:hover{
    opacity: .7;
}

#about-me i{
    transform: scale(1.4);
}

#about-me a{
    color: rgb(200, 163, 235);
    text-decoration: none;
}

#about-me a:hover{
    opacity: .9;
}

#about-me a:visited{
    color: rgb(200, 163, 235);
}
/* /ABOUT ME */
/* /MAIN */


/* FOOTER */
footer{
    line-height: 50px;
    background-color: rgb(37, 37, 37);
}

footer a{
    color: rgb(200, 163, 235);
    text-decoration: none;
}

footer a:hover{
    opacity: .9;
}

footer a:visited{
    color: rgb(200, 163, 235);
}
/* /FOOTER */



/* +++++++ DEBUG +++++++ */

.debug #landing-page{
    background-color: rgb(0, 0, 0);
}

.debug .video{
    height: 100vh;
    width: 100%;
    background-color: rgb(39, 39, 39);
}